body{
    background-color:#f1cdc5;
    background-image: url(../img/self_1.svg);
    background-repeat: no-repeat;
    background-position: left 110%;
    background-size: 25%;
    
    
 }
 
 .formulario{
     background-color: rgb(255, 255, 255);
      border-radius: 0.5rem;
     
 }
 
 .formulario{
     box-shadow: 3px  5px 8px #cfcccc;
     
 }
  h2{
    margin-top: 15px;
    text-align: center;
   color:rgb(14, 13, 13);
     
     writing-mode: horizontal-tb;
 }
 
 input.form-control{
     font-family: 'Oxanium', cursive;
 
     font-size: 18px;
 }
 
 .lateral{
   
    width: 50px;
     background-color:#3a2d74;
     /* background-image: url(../img/self.png); */
     border-top-left-radius: 10rem;
     border-bottom-left-radius: 10rem;
     margin-right: -10px;
     z-index: 10;
 }
 
 .btn-custom{
     border-radius: 100%;
 }
 img{
   
     width: 70%;
 }
 .btn-success{
     
    background-color: #4b38a0;
 }
 
 .form-control{
     border: -500px;
 }
 


 